<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zukhrufkhan.dps924zukhrufprojectv1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchMovie">
            <intent-filter>
                <action android:name="com.example.zukhrufkhan.dps924zukhrufprojectv1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchTVShow">
            <intent-filter>
                <action android:name="com.example.zukhrufkhan.dps924zukhrufprojectv1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActor">
            <intent-filter>
                <action android:name="com.example.zukhrufkhan.dps924zukhrufprojectv1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchHighestRated">
            <intent-filter>
                <action android:name="com.example.zukhrufkhan.dps924zukhrufprojectv1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchMovieResults">
            <intent-filter>
                <action android:name="com.example.zukhrufkhan.dps924zukhrufprojectv1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchMovieResultsDetails">
            <intent-filter>
                <action android:name="com.example.zukhrufkhan.dps924zukhrufprojectv1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActorResults">
            <intent-filter>
                <action android:name="com.example.zukhrufkhan.dps924zukhrufprojectv1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActorResultsDetails">
            <intent-filter>
                <action android:name="com.example.zukhrufkhan.dps924zukhrufprojectv1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchTVShowResults">
            <intent-filter>
                <action android:name="com.example.zukhrufkhan.dps924zukhrufprojectv1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchTVShowResultsDetails">
            <intent-filter>
                <action android:name="com.example.zukhrufkhan.dps924zukhrufprojectv1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchHighestRatedResults" />
        <activity android:name=".SearchHighestRatedResultsDetails"></activity>
    </application>

</manifest>